<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
    <script type="text/javascript">
      var routerName = "<%= controller_name.titleize.pluralize %>Router";
    </script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
